.navbar{
position:absolute;
top: 0;
right: 0;
left: 0;
width: 100%;
background :red;
padding: 20px;
}
.navbar .flext-items {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center
}
.navbar .flext-items ul {
    display:flex;
    gap:10px;
    list-style:none
}